__pycache__/
*.pyc
*.pyo
*.pyd

.venv-build/
.venv/
.python-version

build/
dist/
tmp/

*.no-outer-rects.exact-fit.pdf
*.acrobat-fixed.pdf
*.measurement.png
*.intermediate-cleaned.pdf
*.intermediate-fitted.pdf
